:root {
	--bs-body-font-family: open-sans, sans-serif;
}

//Colors

$primary: #f2f2f2;
$secondary: #2f3235;
$success: #203f59;
$info: #8c7472;
$warning: #011640;
$black: #0d0d0d;

// scss-docs-start navbar-variables
$navbar-padding-y: $spacer * 1.5;
