@import '../../node_modules/bootstrap/scss/bootstrap';
@import './partials/variables';
@import './partials/buttons';
@import './partials/nav';

p {
	margin: 0;
	padding: 0;
}

.login-form {
	width: 20rem;
}
